html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.body {
    min-width: 1366px;
    display: flex;
    height: 100%;
}
.app-sidebar {
    width: 200px;
    background-color: #f0f2f5;
    /* padding: 20px; */
    box-sizing: border-box;
    height: 100%;
}
.app-main {
    flex: 1;
    /* padding: 20px; */
    box-sizing: border-box;
    height: 100%;
    background-color: #FFDA9F;
}
/* 修改菜单项样式 */
.mbutton {
    background-color: #FFDA9F;
    color: #ffff;
    /* border-radius: 20px; /*设置圆形圆角，根据需要调整数值 */
    /*margin-bottom: 10px; /* 为了增加菜单项之间的间距，根据需要调整数值 */
}
.clickbutton {
    background-color: #F89300;
    color: #ffff;
}
.el-menu-vertical-demo {
    /* border-radius: 20px; */
    top: 10%;
    height: 65%;
    width: 200px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04); */
    position: absolute;
    background-color: #F89300;
}
#name {
    position: absolute;
    width: 200px;
    background-color: #F89300;
    height: 10%;
    color: #ffffff;
}
#quit {
    width: 200px;
    height: 25%;
    position: absolute;
    background-color: #F89300;
    color: #ffffff;
    top: 75%;
}
#quitregister {
    position: relative;
    width: 200px;
    height: 60px;
    top: 35px;
}
#quitimg {
    position: relative;
    top: 37px;
}
.el-submenu__title:hover .el-icon-user,
.el-submenu__title:hover span {
    color: #808080 !important;
}
.el-submenu.is-opened .el-submenu__title .el-icon-user,
.el-submenu.is-opened .el-submenu__title span {
    color: #808080 !important;
}
.el-submenu__title:hover .el-icon-s-order,
.el-submenu__title:hover span {
    color: #808080 !important;
}
.el-submenu.is-opened .el-submenu__title .el-icon-s-order,
.el-submenu.is-opened .el-submenu__title span {
    color: #808080 !important;
}
.el-submenu__title:hover .el-icon-document,
.el-submenu__title:hover span {
    color: #808080 !important;
}
.el-submenu.is-opened .el-submenu__title .el-icon-document,
.el-submenu.is-opened .el-submenu__title span {
    color: #808080 !important;
}
.el-submenu__title:hover .el-icon-lock,
.el-submenu__title:hover span {
    color: #808080 !important;
}
.el-submenu.is-opened .el-submenu__title .el-icon-lock,
.el-submenu.is-opened .el-submenu__title span {
    color: #808080 !important;
}
.el-submenu__title:hover .el-icon-message,
.el-submenu__title:hover span {
    color: #808080 !important;
}
.el-submenu.is-opened .el-submenu__title .el-icon-message,
.el-submenu.is-opened .el-submenu__title span {
    color: #808080 !important;
}
.el-submenu__icon-arrow::before {
    color: #ffff;
}
.el-submenu:hover .el-submenu__icon-arrow::before {
    color: #808080 !important;
}
.el-submenu.is-opened .el-submenu__icon-arrow::before {
    color: #808080 !important;
}
.mbutton:hover {
    background-color: #ffffff !important;
    color: #808080 !important;
}
.mbutton.is-active {
    background-color: #ffffff !important;
    color: #808080 !important;
}
.clickbutton:hover {
    background-color: #ffffff !important;
    color: #808080 !important;
}
.clickbutton.is-active {
    background-color: #ffffff !important;
    color: #808080 !important;
}
.clickbutton:hover .el-icon-setting {
    color: #808080 !important;
}
.clickbutton.is-active .el-icon-setting {
    color: #808080 !important;
}
.clickbutton:hover .el-icon-service {
    color: #808080 !important;
}
.clickbutton.is-active .el-icon-service {
    color: #808080 !important;
}
.clickbutton:hover .el-icon-video-play {
    color: #808080 !important;
}
.clickbutton.is-active .el-icon-video-play {
    color: #808080 !important;
}
#reviewSituation {
    position: absolute;
    right: 2%;
    top: 40px;
}